1. What are the two values of the Boolean data type? How do you write them?

--> Boolean Data Type is a logical Value indicating True or False. Datatype: bool

# How do you write them?
--> Boolean logic can be formulated with the use of logic operations.
--> Example 1==1 gives True and 1>1 will give False

In [1]:
1==1

True

In [2]:
1>1

False

2. What are the three different types of Boolean operators?

--> The three basic Boolean operators are AND, OR, NOT

3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

--> The three basic Boolean operators are 'AND', 'OR', 'NOT' which are described below with Truth Tables.

--> NOT - The 'not' operator takes a value, looks at its Boolean value and converts this value to its Boolean counterpart (Negation). Example: not True gives False, and not False gives True 

NOT truth table:
NOT True = False
NOT False = True

--> AND - The 'and' operator takes two values, v1 and v2 and implements the following truth table shown in below DataFrame:

In [3]:
import pandas as pd

In [4]:
pd.DataFrame({'Boolean v1' : [True, True, False, False],'Boolean v2' : [True, False, True, False],'Result' : [True, False, False, False]})

   Boolean v1  Boolean v2  Result
0        True        True    True
1        True       False   False
2       False        True   False
3       False       False   False

--> OR - The 'or' operator takes two values v1 and v2 and implements the following truth table shown in below DataFrame:

In [5]:
pd.DataFrame({'Boolean v1' : [True, True, False, False],'Boolean v2' : [True, False, True, False],'Result' : [True, True, True, False]})

   Boolean v1  Boolean v2  Result
0        True        True    True
1        True       False    True
2       False        True    True
3       False       False   False

4. What are the values of the following expressions?
(5 > 4) and (3 == 5)                 --> False
not (5 > 4)                          --> False
(5 > 4) or (3 == 5)                  --> True
not ((5 > 4) or (3 == 5))            --> False
(True and True) and (True == False)  --> False
(not False) or (not True)            --> True

In [6]:
(5 > 4) and (3 == 5)

False

In [7]:
not (5 > 4)

False

In [8]:
(5 > 4) or (3 == 5)

True

In [9]:
not ((5 > 4) or (3 == 5))

False

In [10]:
(True and True) and (True == False)

False

In [11]:
(not False) or (not True)

True

5. What are the six comparison operators?

#Answer starts from here:
--> Comparison operators are used to compare any two values in Python. Below are the six comparison operators as shown in the below DataFrame.

In [12]:
pd.DataFrame({"Operator" : ["==", "!=", ">", "<", ">=", "<="], "Description":["Equal to", "Not Equal to", "Greater than", "Less Than", "Greater than or equal to","Less Than or equal to"]})

  Operator               Description
0       ==                  Equal to
1       !=              Not Equal to
2        >              Greater than
3        <                 Less Than
4       >=  Greater than or equal to
5       <=     Less Than or equal to

6. How do you tell the difference between the equal to and assignment operators? Describe a condition and when you would use one.

#Answer starts from here:
--> Assignment Operator is used to assign the value on the right to the variable on the left. For example: a = 10; b = 20;
--> Equal to '==' Operator checks whether the two given operands are equal or not. If so, it returns True. Otherwise it returns False. For example 5==5 gives True (Boolean Value)

7. Identify the three blocks in this code:
spam = 0
if spam == 10:
print('eggs')
if spam > 5:
print('bacon')
else:
print('ham')
print('spam')
print('spam')

#Answer starts from here:
--> A new block begins every time we increase the indentation of a line and ends just before the corresponding unindent.

In [13]:
# Answer
spam = 0
if spam == 10:
    print('eggs')        # indent increased, block A
    if spam > 5:         # still block A
        print('bacon')   # still block A, indent increased, block B inside block A
    else:                # still block A, indent decreased, block B ended in line above
        print('ham')     # still block A, indent increased, block C inside block A
    print('spam')        # still block A, indent decreased, block C ended in line above
print('spam')            # indent decreased, block A ended in line above

spam

8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [14]:
#Answer

spam = int(input())
if spam == 1:
    print("Hello")
elif spam == 2:
    print("Howdy")
else:
    print("Greetings!")

1
Hello

9.If your programme is stuck in an endless loop, what keys you’ll press?

--> If its in a Jupyter Notebook interrupt can be used - shortcut Ctrl+C
--> An infinite loop occurs when a program keeps executing within one loop, never leaving it. To exit out of infinite loops on the command line we can use CTRL + C
--> If its in a for loop or while loop - break statement can be used to break out of the loop.

10. How can you tell the difference between break and continue?

--> break statement stops the loop in which the statement is placed.
--> continue statement skips a single iteration in a loop.

11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

--> All the three range(10), range(0, 10), and range(0, 10, 1) produce the same output. The difference can be found with the below description.

--> There are three variants of range() as mentioned below:

--> First:  range(stop) # If passed only one argument to the range(), it will generate a sequence of integers starting from 0 to stop-1

--> Second: range(start, stop) # If passed two arguments to the range(), it will generate integers starting from the start number to stop-1

--> Third:  range(start, stop, step) # If passed all three arguments to the range(), it will return a sequence of numbers, starting from the start number, increments by step number, and stops before a stop number

In [15]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
for i in range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9

12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [18]:
#Answer using for loop

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [19]:
#Answer using while loop

i = 1
while i < 11:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

--> spam.bacon()